.greeting{
	display: flex;
	flex-direction: column;
	width: 80%;
	padding: 25px 40px;
}
.data-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 550px;
	margin-top: 3rem;

}

.data-activity {
	background-color: #FBFBFB;
	height: 100%;
	width: 100%;
	flex: 3;
	margin-right: 1rem;
	padding: 30px;
}

