.score-container {
	height: 280px;
	width: 32%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FBFBFB;
	position: relative;
}

@media screen and (max-width: 1024px) {
	.score-container {
		height: 220px;
		width: 32%;
	}
}

.score-title-container {
	width: 100%;
	height: 100%;
	position: absolute;
	color: black;
}

.score-title-container h2 {
	font-size: 15px;
	width: 150px;
	margin: 2rem 1.5rem;
	color: #000;
	mix-blend-mode: normal;
}

@media screen and (max-width: 1024px) {
	.area-title-container h2 {
		font-size: 12px;
	}
}

.score-area{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000;
	font-size: 20px;
}

.score-area p{
	font-size: 16px;
	width: 80px;
	text-align: center;
	line-height: 1.2;
}

@media screen and (max-width: 1024px) {
	.score-area {
		font-size: 15px;
	}
	.score-area p {
		font-size: 12px;
	}


	
}