.data-performance {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.performance-items {
	height: 124px;
	min-width: 200px;
	background-color: #fbfbfb;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.performance-items p {
	font-weight: 500;
	font-size: 14px;
	color: #74798c;
}

.performance-icon {
	height: 60px;
	width: 60px;
}
.performance-icon img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.keydata-info {
	display: flex;
	flex-direction: column;
}

.info {
	font-weight: 700;
}
